#originalText, #ariaText {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textAreaHeader {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif; 
    margin-top: 25px;
    color: rgb(132, 175, 53);
}

#pageTop {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#pageTitle {
    background-image: url("blind-header.jpg");
    background-attachment: fixed;
    height: 430px;
    padding: 30px;
    padding-left: 100px;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 65px;
}

#learnPageTitle {
    background-color: rgb(132, 175, 53);
    font-family: 'Lato', sans-serif;
    height: 150px;
    padding: 30px;
    padding-left: 65px;
    padding-top: 70px;
    color: rgb(255, 255, 255);
    font-size: 65px;
}

.topicHeaders {
    color: rgb(132, 175, 53);
    font-family: 'Lato', sans-serif;
}

#submitButton {
    margin-bottom: 30px;
}

.profilePics {
    height: 150px;
    width: 150px;
    margin-left: 55px;
    margin-bottom: -10px;
}

#line {
    border-color: rgb(132, 175, 53);
}

#errorDesc {
    margin-bottom: 41px;
}

#typeOfIcon {
    font-weight: 500;
}

#team {
    text-align: center;
    font-size: 40px;
    color: rgb(132, 175, 53);
    margin-bottom: 50px;

}

.names {
    text-align: center;
    font-size: 16px; 
    color: rgb(132, 175, 53);
}

.aboutItemDescs {
    font-size: 16px;
    display: inline-block;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

#bottomEyeDescs {
    margin-bottom: 40px;
}

#bulb, #eye {
    margin-top: 50px;
    margin-left: 70px;
    color: rgb(132, 175, 53);
}

#bulb {
    margin-right: 28px;
}

#textAreaDesc {
    margin: 15px;
}

.textAreaDesc {
    font-family: 'Open Sans', sans-serif; 
}
body {
    background: white;
    font-family: 'Lato', sans-serif;
}

textarea {
    background-color: rgb(77, 21, 21);
}

#learn, #aboutUs {
    display: inline-block;
    float: right;
    float: top;
}

#lastDesc {
    margin-bottom: 30px;
}

.mdl-navigation__link {
    font-family: "Open Sans";
}

.form-control {
	overflow: auto;
}
.btn-primary {
    background-color: rgb(132, 175, 53)!important;
    border-color: white; 
.demo-layout-transparent {
            background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header, .demo-layout-transparent .mdl-layout__drawer-button {
/* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
    color: rgb(255, 255, 255);

}